---
{
	"info": "Some Page Data",
	"template": "full-html"
}
---
{{ debugJson }}

<form action="/params/Max?value=true" method="post">
	<input type="text" name="name" value="Max">
	<input type="submit" value="OK">
</form>