<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="public/main.css">
	<style>
		* {
			line-height: 1.6;
			font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
		}
	</style>
	<link rel="stylesheet" href="public/styles.css">
	<link rel="stylesheet" href="public/several.css">
	<style>
		@import "public/nice-background.css";
	</style>
</head>
<body>
	<h2>Lorem Ipsum</h2>
	<p>Lorem Ipsum 2</p
	>
	<div class="
		important
	">
		<p>Lorem Ipsum 3</p>
	</div>
	<p class="medium white">Lorem</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi molestiae unde, ea aut hic quaerat? Sapiente, dolor obcaecati laudantium placeat repudiandae ea hic, accusantium, totam quis modi quasi consectetur voluptatum?</p>
</body>
</html>